.Main {
  background-color: #000000;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: "Header" "Players" "Footer";
}

.App-logo {
  animation: Im-floating-yay infinite 15s linear;
  height: 20vmin;
  padding: 50px;
}

.Header {
  grid-area: Header;
  justify-items: center;
  align-items: center;
}

.Players {
  grid-area: Players;
}

.Footer {
  grid-area: Footer;
  justify-items: center;
  align-items: center;
}

@keyframes Im-floating-yay {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* module.exports = {
  // Discord palette
  background: "#36393f",
  side: "#2f3136",
  darkSide: "#202225",
  accent: "#7289da",
  heavyAccent: "#7289da",
  lines: "#2e3338",
  // Standard + tester palette
  bright: "#ffffff",
  dark: "#333333",
  gray: "#555555",
  lightGray: "#bbbbbb",
  superLightGray: "#dedede",
  test: "#68f1bc", // Teal, easy to spot
}; */
